@{
    ViewData["Title"] = "Главная";
}

<div class="list-group mt-5">
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="ArchiveView">
        Просмотр архивов погодных условий в городе Москве
    </a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Load">
        Загрузка архивов погодных условий в городе Москве
    </a>    
</div>